.App {
  margin: auto;
  max-width: 800px;
}

.nav-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100px;
  a {
    text-decoration: none;
    color: #123456;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  margin: 20px 0;
  
  input {
    display: block;
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
  }
}

button {
  width: 100px;
  height: 30px;
}

.message-list {
  overflow-y: auto;
  height:400px;
  .message{
    border-radius: 25px;
    display: grid;
    grid-template-columns: 100px 100px auto 100px;
    grid-template-rows: 50px 50px auto;
    justify-items:center;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: rgba(17, 247, 247, 0.103);
    border: 1px solid #000000;
  
    .user-message {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    
    .user-likeButton{
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .user-dislikeButton{
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .message-number{
      grid-column: 4/5;
      grid-row: 1/2;
    }
    .reply-wrapper{
      grid-column: 3/5;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 400px 100px ;
      grid-template-rows: auto auto auto;
      .reply-button{
        margin-bottom:10px;
        grid-column:2/3;
        grid-row: 1/2;
      }
      .reply-list{
        grid-column:1/2;
        grid-row: 3/4;
        p{
          border-radius: 25px;
          background-color: rgba(255, 192, 203, 0.363);
        }
      }
      .reply-form-wrapper{
        grid-column: 1/3;
        grid-row:2/3;
        display: grid;
        grid-template-columns: 400px 100px ;
        .reply-input-wrapper{
          grid-column:1/2;
          textarea{
            height: 100px;
            width: 350px;
          }
        }
        .postReply{
          grid-column:2/3;
        }
      }
    }
  }
}
